name: CI/CD Pipeline to ECS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Checkout code
      - name: Checkout repository
        uses: actions/checkout@v4

      # 2️⃣ Configure AWS credentials
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      # 3️⃣ Login to ECR
      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      # 4️⃣ Build and push Docker image
      - name: Build, Tag, and Push Docker image
        env:
          ECR_REGISTRY: 618401929619.dkr.ecr.us-east-1.amazonaws.com
          ECR_REPOSITORY: cicd-app
          IMAGE_TAG: latest
        run: |
          docker build -t $ECR_REPOSITORY .
          docker tag $ECR_REPOSITORY:latest $ECR_REGISTRY/$ECR_REPOSITORY:latest
          docker push $ECR_REGISTRY/$ECR_REPOSITORY:latest

      # 5️⃣ Deploy updated container to ECS
      - name: Deploy to ECS Service
        run: |
          aws ecs update-service \
            --cluster cicd-cluster \
            --service cicd-app-service \
            --force-new-deployment \
            --region us-east-1
